
.c1-window {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

}

    .c1-window .c1-window-header {
        border-radius: 0.5rem 0.5rem 0 0;
        border-bottom: 1px solid #dee2e6;
    }

    .c1-window .c1-window-content {
        padding: 0;
    }


@media (max-width: 576px) {
    .modal-footer {
        flex-direction: column-reverse;
        gap: 0.5rem;
    }

        .modal-footer .btn {
            width: 100%;
        }
}
